@tailwind base;
@tailwind components;
@tailwind utilities;
.fetured-img {
  background-image: url("../src/assets/Feture/front-view-cute-dog-standing.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.accordion-img{
  background-image: url("../src/assets/banner/istockphoto-1439233562-612x612.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
